src/hello-world/*.jar
src/sum/*.jar
src/string-template/*.jar
src/cond-expr/*.jar
src/main-args/*.jar
src/for-loop/*.jar
src/when-expr/*.jar
src/ranges/*.jar
src/collections/*.jar
src/basic-types/*.jar
src/bitwise-ops/*.jar
